{% extends 'base.html.twig' %}

{% block body %}
    <h1>Selectors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Projectid</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for selector in selectors %}
            <tr>
                <td><a href="{{ path('selector_show', { 'id': selector.id }) }}">{{ selector.id }}</a></td>
                <td>{{ selector.projectId }}</td>
                <td>{{ selector.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('selector_show', { 'id': selector.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('selector_edit', { 'id': selector.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('selector_new') }}">Create a new selector</a>
        </li>
    </ul>
{% endblock %}
