{% extends 'base.html.twig' %}

{% block body %}
    <h1>Selector</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ selector.id }}</td>
            </tr>
            <tr>
                <th>Projectid</th>
                <td>{{ selector.projectId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ selector.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('selector_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('selector_edit', { 'id': selector.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
